# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.sqlite3
venv/
env/
.env
*.log
*.pot
*.mo
migrations/__pycache__/

# Django static / media
staticfiles/
media/

# Node / React
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.local
frontend/.env.production

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
